{% extends "layouts/base.html" %}

{% block content %}
<h1>Schedule</h1>
<form action="/schedule" method="POST" class="mb-3">
  <!-- year -->
  <div class="form-group mb-3">
    <label for="year">Year</label>
    <select id="year" name="year" class="form-control">
      {% for y in years %}
      <option value="{{ y }}" {% if y == selected_year %}selected{% endif %}>{{
        y }}</option>
      {% endfor %}
    </select>
  </div>
  <!-- kindCode -->
  <div class="form-group mb-3">
    <label for="kindCode">kindCode</label>
    <select id="kindCode" name="kindCode" class="form-control">
      <option selected>A</option>
      <option>B</option>
      <option>C</option>
      <option>D</option>
      <option>E</option>
      <option>F</option>
      <option>G</option>
    </select>
  </div>
  <!-- submit button -->
  <button type="submit" class="btn btn-success">查詢</button>
</form>
{% endblock %}