{% extends "layouts/base.html" %}

{% block content %}
<h1>Standings</h1>
<p>＃欄位空白將會取得最新的季度資料</p>
<form action="/standings" method="POST" class="mb-3">
  <!-- kindCode -->
  <div class="form-group mb-3">
    <label for="kindCode">kindCode</label>
    <select id="kindCode" name="kindCode" class="form-control">
      <option selected></option>
      <option>A</option>
      <option>B</option>
      <option>C</option>
      <option>D</option>
      <option>E</option>
      <option>F</option>
      <option>G</option>
    </select>
  </div>
  <!-- seasonCode -->
  <div class="form-group mb-3">
    <label for="seasonCode">Year</label>
    <select id="seasonCode" name="seasonCode" class="form-control">
      <option selected></option>
      <option>0</option>
      <option>1</option>
      <option>2</option>
    </select>
  </div>
  <!-- submit button -->
  <button type="submit" class="btn btn-success">查詢</button>
</form>
{% endblock %}